section#home.full-height
  .background.bg-image
  .container
    .search
      = form_tag photos_path, method: :get do
        = text_field_tag :q, nil, id: 'search-field', class: 'placeholder-hide', size: 40, required: true, placeholder: "search for images", onfocus: "this.placeholder=''", onblur: "this.placeholder='search for images'", autocomplete: 'off'
        / = submit_tag 'Search', class: 'btn btn-lg btn-success'

  = render 'layouts/footer'
