section#home
  .bg-image
    background-image: image-url("home.jpg")

  .container
    text-align: center

  .search
    position: relative
    max-height: 200px
    text-align: center
    width: inherit
    padding: 180px 20px 50px 20px

    form,

    input
      max-width: 400px
      font-size: 42px
      border-bottom: solid 1px #000
      line-height: 42px

      &[placeholder]
        font-weight: 100
        text-align: center
