footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  opacity: 0.4
  background-color: white
  @include transition (all 0.2s ease-in-out)
  height: 50px
  line-height: 50px

  &:hover
    opacity: 1.0

  img
    max-height: 40px
    position: relative
    padding-left: 10px
    top: -2px

  p
    padding: 0
    margin: 0

  .container
    vertical-align: middle

  a
    text-decoration: none
    color: #0264DC
    @include transition (all 0.2s ease-in-out)

    &:hover
      opacity: 0.8
      color: #0264DC
      text-decoration: none
