header
  .nav-search
    display: inline-block
    text-align: center
    margin-right: 5px

    form
      width: inherit
      margin: 0 auto

    input
      max-width: 300px
      border-bottom: solid 1px #000
      height: 35px
      line-height: 30px
      font-size: 18px
      margin-right: 5px

      &[placeholder]
        font-weight: 100
        text-align: center

  .navbar-text
    margin-left: 0px
    opacity: 0.4

    a
      text-decoration: none
      color: inherit
      @include transition (all 0.2s ease-in-out)

      &:hover
        color: inherit
        text-decoration: none
