.background
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  z-index: 0

  &.bg-image
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center
    background-size: cover

.h-center
  margin-left: auto
  margin-right: auto

.container
  z-index: 10

.v-center
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.full-height
  height: 100vh
