// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#masonry
  margin-top: 50px

  .box
    margin: 0
    padding: 0
    width: 33.2%

    img
      width: 100.5%
      height: auto
