= render 'layouts/header'

.results

  #masonry.transitions-enabled
    - @photos.each do |photo|
      .box
        = link_to ( image_tag ( photo.medium(640).source_url ) ), photo.large1600_or_smaller.source_url

.text-center
  = will_paginate @photos, renderer: BootstrapPagination::Rails
