footer
  .container-fluid
    .row
      .col-md-3
        .pull-left
          p
            | Made with ♥ by
            = link_to ' ben.gy', '//ben.gy'
            |  in Melbourne
      .col-md-6.text-center
        p
          strong Picturesque
          |  | Uncover the most engaging images on Flickr

      .col-md-3
        .pull-right
          p
            | Powered by
            = link_to ( image_tag ( 'flickr.png' ), class: 'responsive' ), '//flickr.com'
