header
  nav.navbar.navbar-default.navbar-fixed-top role="navigation"
    .container-fluid
      .navbar-header
        button.navbar-toggle data-target="#navbar-collapse" data-toggle="collapse" type="button"
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        = link_to root_path do
          .navbar-brand Picturesque

      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.navbar-form.nav-search
            = form_tag photos_path, method: :get do
              = text_field_tag :q, nil, id: 'search-field', class: 'placeholder-hide', size: 40, required: true, placeholder: "search again", onfocus: "this.placeholder=''", onblur: "this.placeholder='search again'", autocomplete: 'off'
              / = submit_tag 'Search', class: 'btn btn-lg btn-success'
